/* .App {
  text-align: center;
  background-color: blue;
  color:white;
  height: 50vh; */
/* background-size: cover; */
/* } */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .main{
  max-width: 1320px;
  margin: auto;
  background-color: red;
} */

/* .row{
  width: 1320px;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  color:white;
 
} */

/* .cardItems{
  width: 23%;
  margin: 1%;
  height: 200px;
  background-color: blueviolet;
} */

/* .label{
  color:crimson;
} */

/* nav{
  background-color: black;
  
} */

/*{
  background-color: #ccddff;
}

 .app{
  text-align: center;
 }

 .container{
  background-color: rgb(7,2,71);
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
 }

 input [type=text],select{
  width:80%;
  padding: 12px,20px;
  margin:30px,0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
 }

 button{
  width: 15%;
  background-color: #4caf50;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
 }
 button:hover{
  background-color: #45a049;
 }
 .header{
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .List-heading{
  color: rgb(15,14,14);
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  background-color: cadetblue;
  width: 40%;
  margin-top: 1rem;
 }

 .listData{
   color: black;
   font-size: 20px;
   background-color: rgb(164,203,237);
   text-align: left;
   padding-left: 30px;
   width: 53%;
   padding-bottom: 2%;
   border-radius: 10px;
 }

 .btn-position{
  position: relative;
  left: 11%;
  top: -54px;
 } 
/* 
 .active{
  background-color: green;
 }

 .task.completed{
  text-decoration: line-through;
  color: gray;
 } */

/* *{
  background-color: rgb(11, 11, 64);
  display: flex;
  /* justify-content: center; */
/* } */

/* *{ */
/* background-color: rgb(9, 9, 45); */
/* margin: auto;
 } */

/* .form{
  width: 400px;
  height: 70vh;
  background-color: white;
   display: flex; 
   flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; */
/* flex-direction: column; */
/* } */
/* 
 .div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 5rem;
 }

 .div input{
  width: 280px;
  margin-top: 1rem;
  background-color: white;
  border-color:white;
  box-shadow: 1px 1px 1px 1px gainsboro;
 }

 .div button{
  width: 140px;
  height: 48px;
  border-radius: 5px;
  color: white;
  margin-top: 3rem;

 }

.form h1{
  margin-top: 2rem;
  background-color: white;
 }

 .div h3{
  color: white;
 } */


/* <ToastContainer
position="top-center"
autoClose={5000}
hideProgressBar={false}
newestOnTop={false}
closeOnClick={false}
rtl={false}
pauseOnFocusLoss
draggable
pauseOnHover
theme="light"
transition={Bounce}
/> */

/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; */
  /* background: #f9f9f9;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; */
/* } */
/* 
header {
  background-color: #1d3557;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f1faee;
}

.cart {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #e63946;
  color: white;
  font-size: 12px;

  font-weight: bold;
  border-radius: 50%;
  padding: 3px 7px;
}

nav ul li {
  display: inline;
}

@media(max-width:768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
}

.btn {
  background-color: #457b9d;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  margin-left: 10px;
  margin: 0.4rem;
}

.btn:hover {
  background: #1d3557;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.5;
}

.price {
  font-size: 22px;
  color: #e63946;
  font-weight: bold;
  margin-bottom: 20px;
}


.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  display: flex;
  overflow: hidden;

}

.product-image {
  flex: 1;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  flex: 1;
  padding: 30px;
}

.product-info h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  /* flex-wrap: wrap; */
  /* grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;


}

.card:hover {
  transform: translateY(-5px);
}

.btn-disable {
  background-color: gainsboro;
}

.btn-disable:hover {
  background-color: gainsboro;
}

.remove-button {
  background-color: #e64e33;
}

.cart-container {
  max-width: 800px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}

.item-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item-info img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}

.item-actions {
  text-align: right;
}

.item-actions .price {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.cart-footer {
  text-align: right;
  margin-bottom: 15px;
  font-weight: bold;
  color: green;
}

.header {
  background-color: orange;
  height: 100px;
}

.cart-div {
  float: right;
  margin: 25px;
  position: relative;
}

.cart-div img {
  width: 30px;

}

.cart-div span {
  position: absolute;
  z-index: 5;
  background-color: rgb(2, 64, 2);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: white;
  top: -10px;
  right: 0;
  text-align: center;
}

.product-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.product-item {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.logo {
  float: left;
  margin: 0;
  padding: 20px;

}

.cart-page-container {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 2rem;
}

.cart-page-container table {
  flex: 65%;
  border-collapse: collapse;
  text-align: center;

}

.cart-page-container table td {
  border: 1px solid #ccc;
  padding: 15px;

}

.price-details {
  flex: 25%;
  margin: 0pc 30px;
}

.price-details .adjust-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.price-details .adjust-price span {
  font-size: 20px;
}

.header input {
  float: left;
  padding: 10px;
  margin: 22px;
  width: 350px;
} */ 



































































